:root {
  --main-color: seagreen;
  --main-color-light: rgb(119, 177, 144);
  --secondary-color: rgb(212, 212, 212);
  --secondary-color-light: rgb(230, 230, 230);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.appTitle {
  width: 100vw;
  background-color: var(--main-color);
  text-align: center;
  padding: 1rem 0;
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px -1px 5px 2px black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cvInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 75%;
  background-color: var(--secondary-color-light);
  box-shadow: 0px 0px 11px -1px grey;
  border-radius: 7px;
}

.cvInput > button {
  border: 1px solid black;
  border-radius: 1px;
  padding: 5px;
}

.personal, .experienceInput, .educationInput {
  display: flex;
  flex-direction: column;
}

.personal > input, .experienceInput > input, .educationInput > input {
  padding: 5px;
  margin-top: 4px;
} 

.personal > textarea {
  height: 4rem;
  padding: 5px;
  margin-top: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#example {
  background-color: rgb(173, 230, 173);
  
}

#reset {
  background-color: rgb(204, 134, 158);
}

.display {
  border: 2px solid black;
  padding: 1.5rem;
  width: 21cm;
  height: 29.7cm;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.3fr 1.7fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    "content content sidebar"
    "content content sidebar"; 
}

.personalHeader {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  font-weight: bold;
  border-bottom: 2px solid black ;
}

.displayName {
  font-size: 2.5rem;
}

.displayTitle {
  font-size: 1.5rem;
}

.personalSidebar {
  grid-area: sidebar;
  padding: 0.75rem;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.displayAddress > p {
  margin: 0;
}

.displayContent {
  grid-area: content;
  padding: 0.75rem;
}

.displayExp, .displayEd {
  display: flex;
  flex-direction: column;
}

.displayDescriptionHeader, .displayExpHeader, .displayEdHeader {
  border-bottom: 2px solid lightgray;
  padding-top: 5px;
}

.displayExpInfo, .displayEdInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.displayDescriptionDetail {
  padding: 0.5rem 0;
}

.displayExpDetail, .displayEdDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
}